body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

header {
    display: flex;
    align-items: center;
    background-color: #8356f4;
    color: white;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

@font-face {
    font-family: 'NovaFonteNavbar';
    src: url('fontes/Meowcat.ttf') format('truetype');
}

h1 {
    margin: 0;
    font-family: 'NovaFonteNavbar', sans-serif;
    font-size: 3rem;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-family: 'NovaFonteNavbar', sans-serif;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: #ab75fa;
}

footer {
    background-color: #8356f4;
    color: white;
    text-align: center;
    padding: 20px 10px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.imagem-esquerda {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.conteudo-texto {
    flex-grow: 1;
    text-align: left;
}

h2 {
    color: #8356f4;
    text-align: left;
    font-family: 'MinhaFonte', sans-serif;
}

.conteudo-texto.centralizado {
    text-align: center;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    margin: 0;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: #aa75faa4;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'MinhaFonte', sans-serif;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('fontes/Lemon Tea.ttf') format('truetype');
}

.centralizar {  
    text-align: center;
}

.conteudo-texto p:last-child {
    margin-bottom: 20px;
}

.link-vacina {
    font-size: 1.5rem;
    font-family: 'NovaFonteNavbar', sans-serif;
    color: #8356f4;
    text-decoration: underline;
    cursor: pointer;
}

.link-vacina:hover {
    color: #ab75fa;
}

.imagem-somos {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.email-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.email-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.email-list p {
    margin: 0;
    line-height: 1.5;
    text-align: left;
}

.email {
    font-size: 1.5rem;
    font-family: 'NovaFonteNavbar', sans-serif;
    color: #ab75fa;
}

/* Responsividade */
@media (max-width: 768px) {
    nav a {
        font-size: 1.2rem; /* Tamanho da fonte da navbar em dispositivos móveis */
    }

    .container {
        flex-direction: column; /* Alinha imagem e texto em coluna */
    }

    .imagem-esquerda {
        margin-right: 0; /* Remove margem direita */
        margin-bottom: 20px; /* Adiciona espaço abaixo da imagem */
    }

    .imagem-somos {
        margin-top: 20px; /* Espaço acima da imagem na seção 'Quem somos?' */
    }
}
